.agile_about,.agileits_agile_about{
	padding:2em;
	background:#fff;
	width: 75%;
}
.agile_about{
	position:relative;
	margin: 3em auto 0;
}
.agileits_agile_about{
	margin: 0 auto;
}
.agile_about_pos{
	position: absolute;
    top: -110%;
    left:42%;
}
.agileits_agile_about h3{
	text-align:center;
	color:#212121;
	font-size:2em;
	position:relative;
	padding-bottom:.5em;
	margin-bottom:1.5em;
}
.agileits_agile_about h3:after{
	content: '';
    position: absolute;
    bottom: 0;
    left: 40%;
    border-bottom: 4px double #23D6E7;
    width: 20%;
}
.agileits_agile_about_left p{
	color:#999;
	line-height:2em;
}
.agileits_agile_about_right h4{
	font-size: 1em;
    color: #212121;
    position: relative;
    line-height: 2em;
    padding-left: 2.5em;
}
.agileits_agile_about_right h4:before{
	content: '';
    background: url(../images/img-sp.png) no-repeat -2px -1px;
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 0%;
    left: 0%;
}
.skills {
	width: 100%;
    margin: 1em 0 0;
    height: 20px;
    background: #EBEBEB;
}
.skills,.skills1,.skills2,.skills3,.skills4{
	position:relative;
}
.bar{
	position:absolute;
	top:0%;
	left:5%;
}
.bar p{ 
	color: #212121;
    font-size: 13px;
	text-transform:uppercase;
}
.skill1,.skill3,.skill4,.skill5 {
	height: 100%;
	display: block;
	background-color:#F1DE00;
}
.agileits_skills_grids{
	margin:1em 0 0;
}
#nav {
    margin: 1%;
    background-color: #cef717;
    padding: 0.5em 0;
}
li {
    display: inline;
    padding: 0.5em;}
#nav{
        font-family: Arial, Verdana, sans-serif;
        color: #665544;
        text-align: center;
    }
h1 {
        font-family: 'DancingScriptRegular';
       font-weight: normal;
       font-style: normal;
       text-align: center;
     } 
     body{
        background-image: url("background.jpg");
     }