body{
    background-color: #FAF9DE;
}

.dot { 
    position: absolute; 
    display: block;
    border-radius: 50px;
    border: 2px solid blue;
    height: 1px; width: 1px; 
}
.dotChange{
    border: "size.value"px solid "color.value";  
}
